<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="js/toggle.js"></script>
  <script type="text/javascript" src="js/topic.js"></script>
 <script type="text/javascript" src="js/question.js"></script>
</head>
<body>

  <div class="pc-sidebar js-sidebar">
    <div class="pc-sidebar__inner">

      <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <div class="container">
      <div class="row" style="border:2px solid black;">
        <div class="col-md-3 col-sm-6 col-xs-12 over-1">
          <h4 style="color:#000000; font-size:22px;font-weight:bold;text-align:left;">Custom ETFs</h4>
          <a href="" style="color:#000000; font-size:16px;font-weight:bold;text-align:left;">Your ETFs</a>
          <a href="" style="color:#000000; font-size:16px;font-weight:bold;text-align:left;">Most Trending ETFs</a>
          <a href="" style="color:#000000; font-size:16px;font-weight:bold;text-align:left;">Other ETFs you reacted</a>
          
        </div>

         <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 style="color:#ffffff;font-size:22px;font-weight:bold;text-align:left;">Topics</h4>
          <a href="" style="color:#ffffff;font-size:16px;font-weight:bold;text-align:left;">Your Topics</a>
          <a href="" style="color:#ffffff;font-size:16px;font-weight:bold;text-align:left;">Favorite Topics</a>
          <a href="" style="color:#ffffff;font-size:16px;font-weight:bold;text-align:left;">Other Topics you reacted</a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 over-1">
          <h4 style="color:#000000;font-size:22px;font-weight:bold;text-align:left;">Questions</h4>
          <a href="" style="color:#000000;font-size:16px;font-weight:bold;text-align:left;">Your Questions</a>
          <a href="" style="color:#000000;font-size:16px;font-weight:bold;text-align:left;">Good Questions</a>
          <a href="" style="color:#000000;font-size:16px;font-weight:bold;text-align:left;">Other Questions you reacted</a>
          
        </div>
       
      </div>
    </div>
  </div>
</div>

<span style="font-size:30px; margin-top:-20px;cursor:pointer; color:#ffffff;" onclick="openNav()">&#9776;</span>
    
      </div>
      </div>

    
<nav class="navbar navbar-default" style="border:none; margin-left:40px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#331400;"><span style="color:#248f24;">Stock</span><span style="color:#0000b3;">Jabber</span></a>
    </div>

<div class="collapse navbar-collapse" id="myNavbar">
   
    <ul class="nav navbar-nav nav-1">
      <li><a href="" class="nav-items">DOW 23,644,64</a></li>
      <li><a href="#" class="nav-items">S&P500 2,848.42</a></li>
      <li><a href="#" class="">NASDAQ 8,854.39</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right social" style="margin-right:20px;" id="test">
      <li style="margin-right:80px; margin-top:8px;" class=""><p>
        <a href="#" class="fa fa-facebook" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-twitter" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-google" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-linkedin" style="margin-right:-10px;"></a>
      </p></li>
      <li class=""><a href="./stocks" class="nav-item nav-item1">Stocks</a></li>
      <li class=""><a href="#" class="nav-item nav-item1">Groups</a></li>
      <li data-toggle="modal" data-target="#myModal"><a href="./profile" class="nav-item">Profile</a>
      </li>

       
    </ul>
  </div>
</div>
</nav>

<nav class="navbar navbar-default nav-sec">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar0">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
</div>

<div class="collapse navbar-collapse" id="myNavbar0">
    <ul class="nav navbar-nav nav-2">
      <li><a href="" class="nav-item">Buy/Sell</a></li>
     <li><a href="#" class="nav-item nav-t">IPO Analysis</a></li>
      <li><a href="#" class="nav-item nav-t">Opinion</a></li>
      <li><a href="#" class="nav-item" style="margin-left:40px;">Videos</a></li>
      <li><a href="#" class="nav-item" style="margin-left:40px;">Best Providers</a></li>
       <li><a href="#" class="nav-item nav-t">About Us</a></li>
    </ul>

   <form class="navbar-form navbar-left" style="margin-left:210px;">
      <div class="form-group in-fr search-left">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      
    </form>
</div>
</div>
</nav>

<!---section-1----->

<div class="container-fluid" style="margin-left:40px;">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <h4 class="trend-head">Trending Topics</h4>
        
      <p class="para-text" style="line-height:20px;"><span class="circle"></span>&nbsp;<a href ="./topics" 
        style="color:#000000;text-decoration:none;">
        Bill Gates stopping down from<br>&nbsp;&nbsp;&nbsp;&nbsp;Microsoft Board</a></p>
        <p class="para-text"><span class="circle-1"></span>&nbsp;Corona Effect: Stocks to own from<br> &nbsp;&nbsp;&nbsp;&nbsp;
          Corona outbreak bottom. to own <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for next two years.</p>
        <p class="para-text"><span class="circle-2"></span>&nbsp;Corona Vs US Electronics</p>
        <p class="para-text"><span class="circle-3"></span>&nbsp;Travel Stock RCL CCL</p>
        <p class="para-text"><span class="circle-4"></span>&nbsp;Best Stocks 10 own during Corona<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OutBreak</p><br>
      
        <button class="btn btn-default pull-right pull-right-v"><a href="./topics" style="color:#000000;">-View More</a></button><br><br>

        <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">
          <h4 class="trend-head">Trending Questions</h4>
        
      <p class="para-text" style="line-height:20px;"><span class="circle-5"></span>&nbsp;Retirement Aggressive Investment<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan?</p>
        <p class="para-text"><span class="circle-2"></span>&nbsp;Shorterm Trade for Volatile Market?</p>
        <p class="para-text"><span class="circle-1"></span>&nbsp;<a href="./questions" style="color:#000000;text-decoration:none;">Do I need to reort stimulate Package<br>&nbsp;&nbsp;&nbsp;&nbsp; money on Tax Returns.How it <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;affect retirement.....</a></p>
        <p class="para-text"><span class="circle-4"></span>&nbsp;My Divorced and had a will to give <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;her money to  her step daughter from<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;previous..</p>
        <p class="para-text"><span class="circle"></span>&nbsp;Taking 401k now with penalty?</p><br>
        <button class="btn btn-default pull-right pull-right-v"><a href="./questions" style="color:#000000;">-View More</a></button><br><br>
        <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">


        <img src="assets/images/images.jpg" class="img-responsive"><br>
        <p class="para-text">How Animals Transforming virus to <br>Humans over the  time.</p>
    <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">

        <div class="row row-2">
          <div class="col-md-11 col-sm-10 col-xs-12">
            <p class="text-parag">Top 5 Stocks To Buy This Month 
            (August 2020)</p>
            
             <table style="border:1px; width:100%"><thead>
            <tr class="para-text-2" style="line-height:25px;"><th style="font-weight:bold;">Ticker</th> <th style="font-family:grot;font-weight:bold;">CurrPrice</th>
              <th style="font-family:grot;font-weight:bold;">52Wklow</th> <th style="font-family:grot;font-weight:bold;">52WkHigh</th> 
             </tr></thead>
              <tbody>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">MU</td> 
              <td style="margin-left:; font-family:grot;">315.41</td>
              <td style="margin-left:; font-family:grot;">302.90</td>
              <td style="margin-left:; font-family:grot;">610.67</td>
             
            </tr>
            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">CRM</td>
              <td style="margin-left:;font-family:grot;">141.68</td>
              <td style="margin-left:;font-family:grot;">612.5</td> 
              <td style="margin-left:;font-family:grot;">314.90</td> 
              </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">MFST</td> 
              <td style="margin-left:;font-family:grot;">506.90</td> 
              <td style="margin-left:;font-family:grot;">893.0</td> 
              <td style="margin-left:;font-family:grot;">221.70</td> 
             </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">APL</td>
              <td style="margin-left:;font-family:grot;">617.90</td>
              <td style="margin-left:;font-family:grot;">216.20</td>
              <td style="margin-left:;font-family:grot;">345.89</td> 
              </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">DIS</td>
              <td style="margin-left:;font-family:grot;">452.89</td>
              <td style="margin-left:;font-family:grot;">122.56</td> 
              <td style="margin-left:;font-family:grot;">552.80</td>
              </tr>
 
        </tbody>
    </table>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-12"></div>
        </div>
        <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">

        <!--sell week ending report--->

         <div class="row row-2">
          <div class="col-md-11 col-sm-10 col-xs-12">
            <p class="text-parag-r">Top 5 Stocks To Sell This Month 
            (August 2020)</p>
            
             <table style="border:1px; width:100%"><thead>
            <tr class="para-text-2" style="line-height:25px;"><th style="font-weight:bold;">Ticker</th> <th style="font-family:grot;font-weight:bold;">CurrPrice</th>
              <th style="font-family:grot;font-weight:bold;">52Wklow</th> <th style="font-family:grot;font-weight:bold;">52WkHigh</th> 
             </tr></thead>
              <tbody>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">KJ</td> 
              <td style="margin-left:; font-family:grot;">154.41</td>
              <td style="margin-left:; font-family:grot;">302.90</td>
              <td style="margin-left:; font-family:grot;">610.67</td>
              
            </tr>
            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">LEFT</td>
              <td style="margin-left:;font-family:grot;">21.34</td>
              <td style="margin-left:;font-family:grot;">612.5</td> 
              <td style="margin-left:;font-family:grot;">314.90</td> 
              </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">HELT</td> 
              <td style="margin-left:;font-family:grot;">167.90</td> 
              <td style="margin-left:;font-family:grot;">893.0</td> 
              <td style="margin-left:;font-family:grot;">221.70</td> 
              </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">AMC</td>
              <td style="margin-left:;font-family:grot;">241.90</td>
              <td style="margin-left:;font-family:grot;">224.20</td>
              <td style="margin-left:;font-family:grot;">345.89</td> 
              </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-family:grot;font-weight:bold;line-height:25px;">ECCM</td>
              <td style="margin-left:;font-family:grot;">452.89</td>
              <td style="margin-left:;font-family:grot;">122.56</td> 
              <td style="margin-left:;font-family:grot;">552.80</td>
              </tr>
        </tbody>
    </table>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-12"></div>
        </div>
        <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">
        
        <div class="row" style="margin-top:30px;">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="assets/images/ima.jpg" class="img-responsive"><br>
            <p class="text">Which Animals caused deadly virus in the<br> history</p>
          </div>
        </div>
        <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">

        <div class="row row-2">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <P class="text-p">Top Trending ETF Portfolios</P>
          <p class="text"><span class="circle"></span>&nbsp;2025 Growth: By Adam</p>
          <p class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MU,DNS.......</p>
          <p class="text"><span class="circle-4"></span>&nbsp;ShortTerm Trade for Volatile<br>&nbsp;&nbsp;&nbsp; Market:By Raj</p>
          <p class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DBX LMT,AMZN.......</p>
          <p class="text"><span class="circle-1"></span>&nbsp;Retirement Portfolio:By Kyler </p>
          <p class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATT,EXN.......</p>

          <p class="text"><span class="circle-2"></span>&nbsp;Midcap Winner:By Tuskon </p>
          <p class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DBX,UBER.......</p>
        </div>
      </div>
     <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <img src="assets/images/ima9.jpg" class="img-responsive"><br>
          <p class="text">Comparing Corona Virus with Spanish Flu</p>
        </div>
      </div>

      <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <img src="assets/images/original.jpg" class="img-responsive" style="width:275px;"><br>
          <p class="text">How Corona Virus will haunt your work<br>place for atleast next 2 years</p>
        </div>
      </div>

      <hr style="border:1px solid #d9d9d9; width:265px; margin-left:-10px;">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h5 style="color:#000000;font-family:'Tahoma', sans-serif;font-weight:bold;">Educate Yourself</h5>
          <img src="assets/images/original.jpg" class="img-responsive" style="width:275px;"><br>
          <p class="text">How Negative interest rates affect Economy</p>
        </div>
      </div>
      
     </div> 
    


    <div class="col-md-6 col-sm-6 col-xs-12" style="">

      <!---Topics Custom ETFs Questions---->
      <div class="row" style="margin-top:30px;">
        
        
          <!---Topic Creation section start -->
        <div class="col-md-4 col-sm-4 col-xs-12" style="margin-top:5px;">
        	<div class="row">
        		<div class=" col-md-12 col-sm-12 col-xs-12">
          <p style="display:flex;" id="topic"><span><img src="assets/images/mou.jpg" class="img-responsive"></span>
            <a style="font-size:18px;font-weight:bold;margin-top:1px;color:#00b300;">Topic</a></p>
            <div id="panel">
            	
      <p style="display:flex;">
        <span class="title">Topic Title : </span>&nbsp;
        <input type="text" name="" placeholder="Write Title for Question" class="input-1">

      </p>

      <p style="display:flex;margin-left:5px;">
        <span class="title">Summary : </span>&nbsp;
        <textarea type="text" name="" placeholder="Write Detailed Summary of your Question" class="input-2" cols="6" rows="2">
        </textarea>
          
      </p>


<p style=""><span style="margin-left:0px;"><button type="submit" class="btn btn-danger">Preview</button></span> 
  <span style="margin-left:120px;"><button type="submit" class="btn btn-danger">Submit</button></span></p>


  
            </div>
         </div>
     </div>
            
         
        </div>
        <!---Topic Create end-->
<!---Question create start-->
        <div class="col-md-4 col-sm-4 col-xs-12">
        	<div class="row" style="margin-left:0px;">
        		<div class="col-md-12 col-sm-12 col-xs-12">
          <p style="display:flex;" id="question"><span><img src="assets/images/quets.png" class="img-responsive"></span>&nbsp;
            <a style="font-size:16px;font-weight:bold;margin-top:3px;color:#000099;">Question</a></p>
            <div id="panel-1" style="margin-left:-220px;">
            	
      <p style="display:flex;margin-left:-15px;">
        <span class="title-08">Question Title&nbsp;:</span>&nbsp;
        <input type="text" name="" placeholder="Write Title for Question" class="input-3">

      </p>

      <p style="display:flex;margin-left:7px;">
        <span class="title-08">Summary :&nbsp;</span>&nbsp;
        <textarea type="text" name="" placeholder="Write Detailed Summary of your Question" class="input-4" cols="6" rows="2">
        </textarea>
          
      </p>


<p style=""><span style="margin-left:0px;"><button type="submit" class="btn btn-danger">Preview</button></span> 
  <span style="margin-left:120px;"><button type="submit" class="btn btn-danger">Submit</button></span></p>
            
          </div>
      </div>
        </div>
    </div>
    <!---Question Create end-->

        <div class="col-md-4 col-sm-4 col-xs-12">
          <p style="display:flex;"><span><img src="assets/images/im89.png" class="img-responsive"></span>
            <a style="font-size:16px;font-weight:bold;margin-top:5px; color:#e60000;" href="./etfportfolio">Custom ETF</a></p>
         
        </div>
      </div>
      <!---Topics custom ETFs end --->

      <!--groups black shade row-->
      <!--groups black shade row-->
      <div class="row" style="margin-top:8px;">
         
        <div class="col-md-3 col-sm-6 col-xs-12 blackshade">
          <p style="margin-top:130px;color:#000000;font-weight:bold;font-size:16px;">Trade1</p>
        </div>
        
        <div class="col-md-1 col-sm-6 col-xs-12"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 blackshade">
          <p style="margin-top:130px;color:#000000;font-weight:bold;font-size:16px;">Trade2</p>
        </div>
        <div class="col-md-1 col-sm-6 col-xs-12"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 blackshade">
     <p style="margin-top:130px;color:#000000;font-weight:bold;font-size:16px;">Trade3</p>
        </div>
      </div>
           
      <div class="row row-3">
        <h4 class="header-4">Opinion</h4>
        <div class="col-md-12 col-sm-6 col-xs-12">
          <img src="assets/images/vac.jpg" class="img-responsive" style="height:305px;width:570px;">

        </div>
      </div>
      <div class="row">

        <div class="col-md-12 col-sm-6 col-xs-12">
          <h3 class="org"><a href ="./origin" style="color:#000000; text-decoration:none;">Origination,Myths and Truths of Corona Virus.
            <br>What China is Not Revealing.</a></h3>
          <li class="org-1">How China found out this Corona?</li>
          <li class="org-1">How long they have been known about this Virus?</li>
          <li class="org-1">What is their Secret Weapon against World?</li>
        </div>
        
      </div>
      <hr class="hor-line">
      <!--Financial row start --->
      <div class="row row-para" style="margin-left:-5px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p class="text-2" style="color:#000099;">Question</p>
           <p class="text-01">Retirement Aggressive Investment plan</p>
          <p class="text-03"><img src="assets/images/profile1.png" style="margin-top:-5px;">&nbsp;<span>Chakri,3min ago</span></p>
         
          <p><span class="text-04">Keywords&nbsp;:&nbsp;</span><span class="sub-row">401k,Retirement,Equities,Aggressive Growth</span></p>
          <img src="assets/images/ngs.jpg" class="img-responsive" style="width:550px;height:300px;">

          <p style="margin-top:8px;"><span class="sub-row">I am currently aged 34, employeed earning $120,000 yearly and contributing maximum 401k each<br>year,At present I have 50,000 in 401K .If invest everything into equities,seeing aggressive growth.<br>what are my chances to make enough in retirement.</span></p>

          <p class="sub-row1" style="margin-left:0px;"><span><img src="assets/images/cht.png" style="margin-top:10px;"></span>&nbsp;<span>Reply</span><br>
            <span style="margin-left:30px;margin-top:-10px;" class="badge">123</span>
          </p>

          <p class="sub-row1" style="margin-left:16px;"><span class="sub-row1" style="font-weight:bold;">Swarnal Adaras</span><br>
            <span class="sub-row1">21st&nbsp;April&nbsp;2020&nbsp;4:20 PM,1 min ago</span>
          </p>

          <P class="sub-row1"><span style="margin-left:18px;">You don't need to report package to IRB  beacuse  when government decided to send</span><br><span style="margin-left:18px;">the money.they considered trades based on your tax returns field for 2019 or 2018.</span></P>
                     <p class="sub-row1" style="margin-left:25px;line-height:-5px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;">
                       </i>&nbsp;<span>HelpFul</span> &nbsp; &nbsp; &nbsp; 
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>

                      <p style="margin-left:20px;"><span class="sub-row1"style="font-weight:bold;">Nathan</span><br>
                        <span class="sub-row1">21st&nbsp;April&nbsp;2020&nbsp;4:34 PM,2 min ago</span>
                      </p>
                      <p style="font-size:13px;"class="sub-row1"><span style="margin-left:18px;">Who the heck based Bushwick artisan cliche semiotics ugh synth chillwave meditation.</span><br><span style="margin-left:18px;"> Shabby chic lomo plaid vinyl chambray Vice.</span> </p>

                      <p  class="sub-row1" style="margin-left:25px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i>&nbsp;<span>HelpFul</span> &nbsp; &nbsp; &nbsp; 
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>

        </div>
      </div>
     <hr class="hor-line">

      <!--ETF Shares start-->
      <div class="row" style="margin-left:0px;">
        <div class="col-md-12  col-sm-12 col-xs-12">
            <h4 style="font-family:'Tahoma',sans-serif;font-weight: bold; color:#000000"><a href ="./etfshares" 
              style="text-decoration:none;color:#000000;">ETF Shared By Adam.</a>
            </h4>
        <h4><span style="font-family:'Tahoma', sans-serif;font-weight: bold;color:#000000;">ETF Name</span>&nbsp;:&nbsp;
          <span style="font-family:'Tahoma', sans-serif;color:#000000">2025 Growth</span></h4>
        <p><span style="font-family:'Tahoma', sans-serif;font-weight: bold;color:#000000;">Reason choosing this Portfolio</span>&nbsp;:&nbsp;
          <span style="font-family:'Tahoma', sans-serif;font-size:13px;">I want  to create a portfolio combination of Chip company.<br>glant Technology companies like CRM,Microsoft,Disney included as this is at 52 week low.</span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-8 col-xs-12">
          <img src="assets/images/345.png" class="img-responsive">
          <p class="text-4" style="margin-left:10px;">Price When ETF Created&nbsp;:&nbsp;133.39%</p>
          <p class="text-4" style="margin-left:10px;">Current Price&nbsp;:&nbsp;121</p>
          <p class="text-4" style="margin-left:10px;">Since Created&nbsp;:&nbsp;80% down</p>
        </div>

         <div class="col-md-8 col-sm-8 col-xs-12">
          <table style="border:1px; width:70%;"><thead>
          <tr class="para-text-2" style="line-height:20px;"><th class="">Ticker</th><th style="">CurrPrice</th>
           <th style="">52Wklow</th>
           <th style="">52WkHigh</th> 
           <th style="">Divdend</th></tr></thead>
           <tbody>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">MU</td> <td style="">315.41</td>
              <td style="">302.90</td> <td style="">610.67</td> 
              <td style="">0</td>
            </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">CRM</td> <td style="">141.68</td>
              <td style="">612.5</td> 
              <td style="">314.90</td> <td style="">0.1</td></tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">MFST</td> <td style="">506.90</td> 
              <td style="">893.0</td> 
              <td style="">221.70</td>
              <td style="">1.12</td></tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">APL</td>
             <td style="">617.90</td> <td style="">216.20</td> 
             <td style="">345.89</td>
             <td style="">1.17</td></tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">DIS</td> <td style="">452.89</td>
              <td style="">122.56</td> 
              <td style="">552.80</td> 
              <td style="">2.18</td></tr></tbody>
              
          </table><br>
          <button class="btn btn-default pull-right" href="" style="border-radius:15px;
  margin-right:60px;">-View More</button><br><br><br>
           
           <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12" style="margin-top:10px;">
              <table>
                <tr ><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;font-family:'Tahoma', sans-serif;
                font-size:14px;">Large Cap<span>&nbsp;:&nbsp;</span></td>
                  <td style="font-size:13px;">80%</td></tr>
                <tr class=""><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;font-size:14px;">Mid Cap
                  <span>&nbsp;:&nbsp;</span></td>
                 <td style="font-size:13px;">20%</td></tr>
                <tr class=""><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;font-size:14px;">Small Cap
                  <span>&nbsp;:&nbsp;</span></td>
                <td style="font-size:13px;">0%</td></tr>
                <tr class=""><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;font-size:14px;">Penny Stocks
                  <span>&nbsp;:&nbsp;</span></td>
                <td style="font-size:13px;">0%</td></tr>
              </table>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <table>
                <thead>
                  <tr><th style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;font-size:15px;">Sector</th>
                     <th style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;font-size:15px;">Percentage</th></tr>
                  <tr><td style="color:#000000;font-family:'Tahoma', sans-serif;font-size:13px;">Technology</td>
                    <td style="color:#000000;text-align:center;font-family:'Tahoma', sans-serif;font-size:13px;">60%</td></tr>
                  <tr><td style="color:#000000;font-family:'Tahoma', sans-serif;font-size:13px;">Entertainment</td>
                    <td style="color:#000000;text-align:center;font-size:13px;">20%</td></tr>
                  <tr><td style="color:#000000;font-family:'Tahoma', sans-serif;font-size:13px;">Devices</td>
                    <td style="color:#000000;text-align:center;font-size:13px;">20%</td></tr>
                  <tr><td style="color:#000000;font-family:'Tahoma', sans-serif;font-size:13px;">Retail</td>
                    <td style="color:#000000;text-align:center;font-size:13px;">0%</td></tr>
                  <tr><td style="color:#000000;font-family:'Tahoma', sans-serif;font-size:13px;">Healthcare</td>
                    <td style="color:#000000;text-align:center;font-size:13px;">0%</td></tr>
                </thead>
              </table><br>
               <button class="btn btn-default pull-right" href="" style="border-radius:15px;
                     margin-right:10px;">-View More</button><br><br>
            </div>
           </div>
      
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row" style="margin-left:10px;">
        <div class="col-md-3 col-sm-12 col-xs-12">
      <p><a href="" style="text-decoration:none;color:#000000;"><img src="assets/images/up.jpg">&nbsp;
                  <span style="color:#000000;font-family:'Tahoma', sans-serif;">Recommend</span><br><span style="margin-left:25px;" class="badge">3451</span>
                  </a></p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <a href="" style="text-decoration:none;"><img src="assets/images/down1.png">&nbsp;
                    <span style="color:#000000;font-family:'Tahoma', sans-serif;">Don't Recommend </span><br>
                    <span style="margin-left:25px;" class="badge">123</span>
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-12 col-xs-12">

                    <a href="" style="text-decoration:none;margin-left:-10px;"><img src="assets/images/45.jpg">
                      <span class="" style="color:#000000;font-family:'Tahoma', sans-serif;">Hold</span>
                    <br><span style="margin-left:25px;" class="badge">32</span></a>
                  </div>
             <div class="col-md-3 col-sm-12 col-xs-12">
                  <a href="" style="text-decoration:none;">
                    <img src="assets/images/chat1.png"><span style="color:#000000;font-family:'Tahoma', sans-serif;">Comment</span><br>
                    <span style="margin-left:25px;" class="badge">456</span>
                  </a>
                
              </div>
            </div>

                <p class="reply-1"><span style="margin-left:50px; font-weight:bold;font-family:'Tahoma', sans-serif;">Frank</span><br>
            <span style="margin-left:50px;font-family:'Tahoma', sans-serif;">04/21/2020 3:05 PM,1 min ago</span>
          </p>
          <p style="margin-left:50px;font-family:'Tahoma', sans-serif;font-size:13px;">I suggest you to replace MU with another non tech stock as you already have NVDA,Microsoft,<br>CRM in your portfolio which will over weign the tech portfolio</p>

          <div class="row" style="margin-left:39px;">
            <div class="col-md-3 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:22px;margin-top:-4px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:160px;">
            <p class="reply-1"><span style="margin-left:0px;margin-top:0px;"><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:38px;margin-top:-13px;" class="badge">456</span>
          </p>
          </div>
          </div>

           <p class="reply-1" style="margin-top:5px;"><span style="margin-left:50px; font-weight:bold;font-family:'Tahoma', sans-serif;">Mike</span><br>
            <span style="margin-left:50px;font-family:'Tahoma', sans-serif;">04/21/2020 3:09 PM,3 min ago</span>
          </p>

          <p style="margin-left:50px;font-family:'Tahoma', sans-serif;font-size:13px;">I strongly recommend Microsoft,CRM,But given the circumstances,I don't know if I can recom<br>mend Disney because of corona Virus Situation</p>

          <div class="row" style="margin-left:39px;">
            <div class="col-md-3 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:22px;margin-top:-4px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:160px;">
            <p class="reply-1"><span style="margin-left:0px;margin-top:0px;"><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:38px;margin-top:-13px;" class="badge">456</span>
          </p>
          </div>
          </div>

      </div>
    </div>
     <hr class="hor-line">

<!---ETF Share end-->
<!--Finance Question-->

<div class="row row-para" style="margin-left:15px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p class="text-2" style="color:#000099;"> Question</p>
          <p><span class="text-01">Retirement Aggressive Investment plan</span></p>
          <p class="text-03"><img src="assets/images/profile.png" style="margin-top:-5px;">&nbsp;Steve,2 minutes ago</p>
          
          <p><span class="text-04">Keywords&nbsp;:&nbsp;</span><span class="sub-row">401k,Retirement,Equities,Aggressive Growth</span></p>

          <p><span class="sub-row">I am currently aged 34, emloyeed earning $120,000 yearly 
            and contributing maximum 401k each<br>year,At present I have 50,000 in 401K .If invest everything into equities,seeing aggressive growth.<br>what are my chances to make enough in retirement.</span></p>

          <p class="sub-row1" style="margin-left:0px;"><span><img src="assets/images/cht.png" style="margin-top:10px;"></span>&nbsp;<span>Reply </span>
            <br>
            <span style="margin-left:30px;margin-top:-10px;" class="badge">123</span>
          </p>

          <p class="sub-row1" style="margin-left:26px;"><span style="margin-left:10px; font-weight:bold;">Swarnal Adaras</span><br>
            <span style="margin-left:10px;">21st&nbsp;April&nbsp;2020&nbsp;4:20 PM,5 min ago</span>
          </p>

          <P class="sub-row1"><span style ="margin-left:17px;">You don't need to report package to IRB  beacuse  when government decided to send</span> <br><span style ="margin-left:17px;">the money.they considered trades based on your tax returns field for 2019 or 2018.</span></P>
            <p class="sub-row1" style="margin-left:26px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i><span>HelpFul</span> 
                      &nbsp; &nbsp; &nbsp;
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>

                      <p style="margin-left:20px;"><span class="sub-row1"style="font-weight:bold;">Nathan</span><br>
                        <span class="sub-row1">21st&nbsp;April&nbsp;2020&nbsp;4:34 PM,1 min ago</span>
                      </p>
                      <p class="sub-row1"><span style ="margin-left:17px;">Who the heck based Bushwick artisan cliche semiotics ugh synth chillwave meditation.</span><br> <span style ="margin-left:17px;">Shabby chic lomo plaid vinyl chambray Vice. </span></p>

                      <p class="sub-row1" style="margin-left:26px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i><span>HelpFul
                      </span> &nbsp; &nbsp; &nbsp;
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>

        </div>
      </div>
      <hr class="hor-line">
    
      <!--Finance Question End--->
      <!---Topic Created section start -->

     <div class="row row-para" style="margin-left:15px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p class="text-2" style="color:#00cc00;font-size:17px;">Topic</p>
           <p><span class="text-01">Howlong Airlines Grounded and Impact</span></p>
          <p class="text-03"><img src="assets/images/profile.png" style="margin-top:-5px;">&nbsp;Amanda,2min ago</p>
          <p><span class="text-04">Keywords&nbsp;:&nbsp;</span><span class="sub-row">Airlines,Bankrupt,Increased Price, Corona Virus</span>
          </p>

          <p class="text-05"><span class="sub-row">As of Now airlines grounded globally for major routes.how long
            this will continue.My opinion<br>is it takes another 3 months atleaset before this resumes.The impact for this is outlined<br>below.</span></p>
            
           <div class ="row">
               <div class ="col-md-4 col-sm-6 col-xs-12">
          <p class="sub-row1" style="margin-left:0px;"><span><img src="assets/images/cht.png" style="margin-top:10px;"></span>&nbsp;<span>Reply </span><br>
            <span style="margin-left:30px;margin-top:-12px;" class="badge">123</span>
          </p>
          </div>
          
          <div class ="col-md-4 col-sm-6 col-xs-12">
          <p class="sub-row1" style="margin-left:0px;"><span><img src="assets/images/cht.png" style="margin-top:10px;"></span>&nbsp;<span>Agree </span><br>
            <span style="margin-left:30px;margin-top:-12px;" class="badge">80</span>
          </p>
          </div>
          <div class ="col-md-3 col-sm-6 col-xs-12">
          <p class="sub-row1" style="margin-left:0px;"><span><img src="assets/images/cht.png" style="margin-top:10px;"></span>&nbsp;<span>DisAgree </span><br>
            <span style="margin-left:35px;margin-top:-12px;" class="badge">23</span>
          </p>
          </div>
               </div>
          <p class="sub-row1" style="margin-left:27px;"><span style="margin-left:10px; font-weight:bold;">Swarnal Adaras</span><br>
            <span style="margin-left:10px;">21st&nbsp;April&nbsp;2020&nbsp;4:20 PM,2 min ago</span>
          </p>

          <P class="sub-row1"><span style ="margin-left:17px;">You don't need to report package to IRB  beacuse  when government decided to send</span><br><span style ="margin-left:17px;"> the money.they considered trades based on your tax returns field for 2019 or 2018.</span></P>
                     <p class="sub-row1" style="margin-left:26px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i><span>Like</span> &nbsp; &nbsp; &nbsp; 
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>

                      <p style="margin-left:20px;"><span class="sub-row1"style="font-weight:bold;">Nathan</span><br>
                        <span class="sub-row1">21st&nbsp;April&nbsp;2020&nbsp;4:34 PM,1 min ago</span>
                      </p>
                      <p style="font-size:13px;" class="sub-row1"><span style ="margin-left:17px;">Who the heck based Bushwick artisan cliche semiotics ugh synth chillwave meditation.</span><br><span style ="margin-left:17px;"> Shabby chic lomo plaid vinyl chambray Vice. </span></p>

                      <p class="sub-row1" style="margin-left:26px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i><span>Like</span> &nbsp; &nbsp; &nbsp;
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>
                        <button class="btn btn-default pull-right pull-right-v" href="">-View More</button><br>

        </div>
      </div>
      <!---Topic created section end-->
      <hr class="hor-line">
      

<!--Finance Question-->

<div class="row row-para" style="margin-left:15px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p class="text-2" style="color:#000099;">Question</p>
           <p><span class="text-01">Cost of Living Against my new job </span></p>
          <p class="text-03"><img src="assets/images/profile.png" style="margin-top:-5px;">&nbsp;Steve,3min ago</p>
         
          <p><span class="text-04">Keywords&nbsp;:&nbsp;</span><span class="sub-row">New Job cost of living,newyor,texas</span></p>

          <p><span class="sub-row">I am currently working in Newyork with $1,40,000 per year and another one in Sacramento,<br>California with $1,55,000 per year,which one is better compared to cost of living.Please advise!</span></p>

          <p class="sub-row1" style="margin-left:0px;"><span><img src="assets/images/cht.png" style="margin-top:10px;"></span>&nbsp;<span>Reply </span>
            <br>
            <span style="margin-left:30px;margin-top:-10px;" class="badge">123</span>
          </p>

          <p class="sub-row1" style="margin-left:26px;"><span style="margin-left:10px; font-weight:bold;">Swarnal Adaras</span><br>
            <span style="margin-left:10px;">21st&nbsp;April&nbsp;2020&nbsp;4:20 PM,1 min ago</span>
          </p>

          <P class="sub-row1"><span style="margin-left:18px;">You don't need to report package to IRS. beacuse  when government decided to send</span><br> 
            <span style= "margin-left:18px;">the money.they considered trades based on your tax returns field for 2019 or 2018.</span></P>
                     <p class="sub-row1" style="margin-left:26px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i><span>HelpFul</span> 
                      &nbsp; &nbsp; &nbsp;
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>

                      <p style="margin-left:19px;"><span class="sub-row1"style="font-weight:bold;">Nathan</span><br>
                        <span class="sub-row1">21st&nbsp;April&nbsp;2020&nbsp;4:34 PM,2 min ago</span>
                      </p>
                      <p class="sub-row1"><span style= "margin-left:18px;">Who the heck based Bushwick artisan cliche semiotics ugh synth chillwave meditation.</span><br><span style= "margin-left:18px;"> Shabby chic lomo plaid vinyl chambray Vice.</span></p>

                      <p class="sub-row1" style="margin-left:26px;margin-top:-10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i><span>HelpFul
                      </span> &nbsp; &nbsp; &nbsp;
                      <span style="margin-left:180px;"><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>

        </div>
      </div>
      <hr class="hor-line">
    
        </div>
                 

  <div class="col-md-3 col-sm-3 col-xs-12" style="margin-left:-10px;">
    <h4 class="trend-head-news" style="">News Impacting Today's Market</h4>
    
    <div class='row' style="margin-left:-40px;width:350px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="myCarousel" class="carousel slide" style="max-width: 900px; margin: 0px auto;" data-interval="5000" data-ride="carousel">
            <ol class="carousel-indicators hidden-xs hidden-sm" style="padding-bottom:50px;">
                <li data-target="#carcousel-example-generic" data-slide-to="0" class="active" style="display: inline-block;width:5px;
                height:5px;background-color:rgba(255,255,255,1.5);border:1px solid #ffffff;border-radius:5px;"></li>
                <li data-target="#carcousel-example-generic" data-slide-to="1" style="display: inline-block;width:5px;
                height:5px;background-color:rgba(255,255,255,1.5);border:1px solid #ffffff;border-radius:5px;"></li>
                <li data-target="#carcousel-example-generic" data-slide-to="2" style="display: inline-block;width:5px;
                height:5px;background-color:rgba(255,255,255,1.5);border:1px solid #ffffff;border-radius:5px;"></li>
            </ol>
            <div class="carousel-inner">
                <div class="active item">
               <div class="">
                 <img src="assets/images/copo.jpg" class="img-responsive" style="height:160px;width:320px;">
               
               </div>
              <blockquote style="border-left: 0px solid #eee;">
                <p style="color: #000000;font-size:12px;font-family:'Tahoma',sans-serif;margin-left:-20px;font-weight:bold;">
                Warren Buffet Said Economy will recover,nothing can stop running America</p>
                <p style="color: #000000;font-size:12px;font-family:'Tahoma',sans-serif;margin-left:-20px;margin-top:-6px;font-weight:bold;">
                Bill Gates is leaving Microsoft Board</p>
              </blockquote>
             
            </div>

            <div class="item">
              <div>
                <img src="assets/images/e_18.jpg" class="img-responsive" style="height:160px;width:330px;">
              </div>

              <blockquote style="border-left: 0px solid #eee;">
              <p style="color: #000000;font-size:12px;font-family:'Tahoma',sans-serif;margin-left:-20px;font-weight:bold;">Warren Buffet Said Economy will recover,nothing can stop running America</p>
               <p style="color: #000000;font-size:12px;font-family:'Tahoma',sans-serif;margin-left:-20px;margin-top:-6px;font-weight:bold;">Bill Gates is leaving Microsoft Board</p>
              </blockquote>
              
            </div>
            <div class="item">
               <div>
                 <img src="assets/images/hos.jpg" class="img-responsive" style="height:160px;width:320px;">
               </div>
              <blockquote style="border-left: 0px solid #eee;">
                <p style="color: #000000;font-size:12px;font-family:'Tahoma',sans-serif;margin-left:-20px;font-weight:bold;">Warren Buffet Said Economy will recover,nothing can stop running America</p>
                <p style="color: #000000;font-size:12px;font-family:'Tahoma',sans-serif;margin-left:-20px;margin-top:-6px;font-weight:bold;">Bill Gates is leaving Microsoft Board</p>
              </blockquote>
             
            </div>
                  
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>          
        
      </div>            
  </div>


    <div class="row" style="margin-top:-7px;">
      <div class="col-md-12 col-sm-12 col-xs-12 column-3">
        <p><a href="./stocks"><img src="assets/images/win.jpg" class="img-responsive pull-right" style="margin-top:10px;"></a></p><br>
        <h6 class="pull-right-1" style="margin-top:20px;"><span style="margin-left:0px;">MU</span><span style="margin-left:33px;">AMD</span> 
        <span style="margin-left:33px;">AMZN</span> <span style="margin-left:33px;">NTFLX</span> <span style="margin-left:33px;">TSLA</span> </h6>
        
           <button type="submit" class="btn btn-default" style="border-radius:none;margin-left:60px;"> <a href="./stocks" style="text-decoration:none;color:#000000;">View or Post About Stocks</a></button>
          
           <div class="row" style="margin-top:20px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12" style="margin-bottom:-8px;">
        <p><span style="color:#ffffff;font-weight:bold;font-size:11px;">Sam</span><br>
        <span style="color:#ffffff;font-weight:bold;margin-top:-5px;font-size:10px;">2nd May 2020,4:05 PM</span></p>
      </div>
      
        <div class="col-md-4 col-sm-12 col-xs-12">
        <p style="display:flex;"><span style="margin-left:40px;color:#ffffff;font-weight:bold;font-size:11px;">Short</span>
          <span>
          <i style="font-size:24px;color:red;margin-top:-20px;" class="fa">&#xf063;</i></span>
          <span style="margin-left:20px;color:#ff8533;font-weight:bold;font-size:11px;">MU</span></p>
        </div>
       </div>
     
<p style="color:#ffffff;font-weight:bold;margin-top:px;font-size:11px;">Just Bought MU Stock for $44.This is good for long term,when market come back this<br> will touch $100.</p>
    
        
               <p style="margin-left:-10px;margin-top:-20px;"><a href="" class="text-icon"><i class="fa fa-thumbs-up" style="font-size:18px; color:#ffffff;"></i>
                  <span style="color:#ffffff;margin-left:-1px;">Recommend</span>
                  </a>
                  <a href="" class="text-icon"><i class="fa fa-thumbs-down" style="font-size:18px; color:#ffffff;"></i>
                    <span style="color:#ffffff;margin-left:-3px;">Don't Recommend </span>
                    </a>
                  <a href="" class="text-icon">
                    <span style="color:#ffffff;margin-left:2px;"><img src="assets/images/chat.png">Comment</span>
                  </a>
                </p>

            <p class="reply-1"><span style="margin-left:30px; font-weight:bold;font-family:'Tahoma', sans-serif;color:#ffffff;font-size:11px;">Frank</span><br>
            <span style="margin-left:30px;font-family:'Tahoma', sans-serif;color:#ffffff;font-size:11px;">04/21/2020 3:05 PM</span>
          </p>
          <p style="margin-left:30px;font-family:'Tahoma', sans-serif;color:#ffffff;font-size:11px;">I suggest you to replace MU with another non tech stock as you already have NVDA,<br>Microsoft,CRM in your portfolio which will over weign the tech portfolio</p><br>

          <p style="margin-left:30px; font-family:grot;margin-top:-25px;"><i class="fa fa-thumbs-o-up" style="font-size:18px; color:#ffffff;"></i>
                    <span style="color:#ffffff;font-size:11px;">Like</span> &nbsp; &nbsp; &nbsp;
                     <span style="color:#ffffff;font-size:11px;margin-left:80px;"><img src="assets/images/chat1.png">&nbsp;Comment</span>
                   </p>
                
                </div>
            </div>

            <!--Long section -->
            <div class="row" style="margin-top:10px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12" style="margin-bottom:-10px;">
        <p><span style="color:#ffffff;font-weight:bold;font-size:11px;">Sam</span><br>
        <span style="color:#ffffff;font-weight:bold;margin-top:-5px;font-size:10px;">2nd May 2020,4:05 PM</span></p>
      </div>
      
        <div class="col-md-4 col-sm-12 col-xs-12">
        <p style="display:flex;"><span style="margin-left:50px;color:#ffffff;font-weight:bold;font-size:11px;">Long</span>
         
          <span style="margin-top:-20px;"><i style="font-size:24px;color:#33ff33;" class="fa">&#xf062;</i></span>
          <span style="margin-left:20px;color:#33ff33;font-weight:bold;font-size:11px;">TSLA</span></p>
        </div>
      </div>

    <p style="color:#ffffff;font-weight:bold;font-size:11px;">Just Bought MU Stock for $44.This is good for long term,when market come back this<br> will touch $100.</p>
          
                <p style="margin-left:-10px;margin-top:-20px;"><a href="" class="text-icon"><i class="fa fa-thumbs-up" style="font-size:18px; color:#ffffff;"></i>
                  <span style="color:#ffffff;font-size:11px;">Recommend</span>
                  </a>
                  <a href="" class="text-icon"><i class="fa fa-thumbs-down" style="font-size:18px; color:#ffffff;"></i>
                    <span style="color:#ffffff;font-size:11px;margin-left:-2px;">Don't Recommend </span>
                    </a>
                  <a href="" class="text-icon">
                    <span style="color:#ffffff;font-size:11px;"><img src="assets/images/chat.png">Comment</span>
                  </a>
                </p>

             <p class="reply-1" style="margin-top:-10px;"><span style="margin-left:30px; font-weight:bold;font-family:'Tahoma', sans-serif;color:#ffffff;font-size:11px;">Frank</span><br>
            <span style="margin-left:30px;font-family:'Tahoma', sans-serif;color:#ffffff;font-size:11px;">04/21/2020 3:05 PM</span>
          </p>
          <p style="margin-left:30px;font-family:'Tahoma', sans-serif;color:#ffffff;font-size:11px;margin-top:-5px;">I suggest you to replace MU with another non tech stock as you already have NVDA,<br>Microsoft,CRM in your portfolio which will over weign the tech portfolio</p><br>

          <p style="margin-left:30px; font-family:grot;margin-top:-25px;"><i class="fa fa-thumbs-o-up" style="font-size:18px; color:#ffffff;"></i>
                    <span style="color:#ffffff;font-size:11px;">Like</span> &nbsp; &nbsp; &nbsp;
                     <span style="color:#ffffff;font-size:11px;margin-left:80px;"><img src="assets/images/chat1.png">&nbsp;Comment</span></p>
</div>
            </div>
        </div>
           

           
      </div>
    </div>
  </div>
</div>



<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256–2z0P7MLoyxByUtvAk/xjkmindefS4auh4Pfzbm7y6g0"
crossorigin="anonymous"> 
</script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 </body>
 

</html>