<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>

  <nav class="navbar navbar-default" style="border:none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./header">Stock Jabber</a>
    </div>

<div class="collapse navbar-collapse" id="myNavbar">
   
    <ul class="nav navbar-nav nav-1">
      <li><a href="" class="nav-items">DOW 23,644,64</a></li>
      <li><a href="#" class="nav-items">S&P500 2,848.42</a></li>
      <li><a href="#" class="">NASDAQ 8,854.39</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right social" style="margin-right:20px;">
      <li style="margin-right:80px; margin-top:8px;" class=""><p>
        <a href="#" class="fa fa-facebook" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-twitter" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-google" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-linkedin" style="margin-right:-10px;"></a>
      </p></li>
      <li class=""><a href="#" class="nav-item nav-item1">About Us</a></li>
      <li class=""><a href="#" class="nav-item nav-item1">Groups</a></li>
      <li class=""><a href="javascript:void(0)" class="nav-item">Profile</a>
      </li>

       <!--<li data-toggle="modal" data-target="#myModal1" class=""><a href="javascript:void(0)" class="nav-item">SignIn</a>
      </li>-->
      
    </ul>
  </div>
</div>
</nav>

<nav class="navbar navbar-default nav-sec">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
</div>

<div class="collapse navbar-collapse" id="myNavbar1">
    <ul class="nav navbar-nav nav-2">
      <li><a href="" class="nav-item">Buy/Sell</a></li>
      <li><a href="#" class="nav-item nav-t">Earnings</a></li>
      <li><a href="#" class="nav-item nav-t">IPO Analysis</a></li>
      <li><a href="#" class="nav-item nav-t">Opinion</a></li>
      <li><a href="#" class="nav-item nav-t">Videos</a></li>
      <li><a href="#" class="nav-item nav-t">Best Practice</a></li>
    </ul>

   <form class="navbar-form navbar-left" style="margin-left:260px;">
      <div class="form-group in-fr">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      
    </form>
</div>
</div>
</nav>
  <div class="container">
    <div class="row-text-center">
      <!--<div class="col-md-1 col-sm-1 col-xs-12"></div>-->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 style="font-weight:bold;font-family:'Tahoma', sans-serif;">Do I need to report Stimulus Package Money on Tax Returns?</h3>
        <p>Samrat,21st April 2020 4:05 PM</p><br>
        <P class="reply"><span style="font-weight:bold;">Key Words &nbsp;:&nbsp;</span>
          <span class="reply-1">Corona Virus Relief Package,Stimulus Check,Trump,IRS</span></P>
        <P class="reply"><span style="font-weight:bold;">Question Summary &nbsp;:&nbsp;</span><span class="reply-1">
          If I receive Stimulus check from Trump Government,do i need  to report that to IRS,If so can I report that next year and also are
          <br> we going to receive another check this year?
          <br></span></P>
        <div class="row" style="margin-left:10px;">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;&nbsp;<span>Reply Your Answer</span>
            <br>
            <span style="margin-left:40px;" class="badge">51</span>
          </p>
          </div>

        </div>

        <p class="reply-1"><span style="margin-left:30px; font-weight:bold;">Samuel Adams</span><br>
            <span style="margin-left:30px;">21st April 2020 4:20 PM</span>
          </p><br>
          <p class="reply-1">You don't need to report Stimulus Package to IRS because when government decided to send the money,they considered taxes based on your tax returns <br>filed for 2019 or 2018</p>
          <div class="row" style="margin-left:10px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;&nbsp;&nbsp;<span>Helpful</span>
           
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;&nbsp;<span>Comment</span>
            
          </p>
          </div>
          </div>

          <p class="reply-1"><span style="margin-left:30px; font-weight:bold;">Nathan</span><br>
            <span style="margin-left:30px;">21st April 2020 4:34 PM</span>
          </p><br>
          <p class="reply-1">Who the heck need the stimulus package,that doesnt solve our problems.Already country is in bigger economic slump and that needs each person a annual <br>salary.</p>
          
           <div class="row" style="margin-left:10px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;&nbsp;&nbsp;<span>Helpful</span>
           
            
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;&nbsp;<span>Comment</span>
           
          </p>
          </div>
          </div>
      
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12"></div>
    </div>
  </div>
</body>
</html>