<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>

<nav class="navbar navbar-default" style="border:none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./header">Stock Jabber</a>
    </div>

<div class="collapse navbar-collapse" id="myNavbar">
   
    <ul class="nav navbar-nav nav-1">
      <li><a href="" class="nav-items">DOW 23,644,64</a></li>
      <li><a href="#" class="nav-items">S&P500 2,848.42</a></li>
      <li><a href="#" class="">NASDAQ 8,854.39</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right social" style="margin-right:20px;">
      <li style="margin-right:90px; margin-top:8px;" class=""><p>
        <a href="#" class="fa fa-facebook" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-twitter" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-google" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-linkedin" style="margin-right:-10px;"></a>
      </p></li>
      <li class=""><a href="#" class="nav-item nav-item1">About Us</a></li>
      <li class=""><a href="#" class="nav-item nav-item1">Groups</a></li>
      <li class=""><a href="javascript:void(0)" class="nav-item">Profile</a>
      </li>

       <!--<li data-toggle="modal" data-target="#myModal1" class=""><a href="javascript:void(0)" class="nav-item">SignIn</a>
      </li>-->
      
    </ul>
  </div>
</div>
</nav>

<nav class="navbar navbar-default nav-sec">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
</div>

<div class="collapse navbar-collapse" id="myNavbar1">
    <ul class="nav navbar-nav nav-2">
      <li><a href="" class="nav-item">Buy/Sell</a></li>
      <li><a href="#" class="nav-item nav-t">Earnings</a></li>
      <li><a href="#" class="nav-item nav-t">IPO Analysis</a></li>
      <li><a href="#" class="nav-item nav-t">Opinion</a></li>
      <li><a href="#" class="nav-item nav-t">Videos</a></li>
      <li><a href="#" class="nav-item nav-t">Best Practice</a></li>
    </ul>

   <form class="navbar-form navbar-left" style="margin-left:250px;">
      <div class="form-group in-fr">
        <input type="Search" class="form-control" placeholder="Search">
      </div>
      
    </form>
</div>
</div>
</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4 style="font-family:'Tahoma', sans-serif;font-weight: bold; color:#000000;">ETF Shared By Adam.</h4>
				<h4><span style="font-family:'Tahoma', sans-serif;font-weight: bold;color:#000000;">ETF Name</span>&nbsp;:&nbsp;
          <span style="font-family:'Tahoma', sans-serif;color:#000000">2025 Growth</span></h4>
				<p><span style="font-family:'Tahoma', sans-serif;font-weight: bold;color:#000000;">Reason choosing this Portfolio</span>&nbsp;:&nbsp;
          <span style="font-family:'Tahoma', sans-serif;">I want  to create a portfolio combination of Chip company.glant Technology companies like CRM,Microsoft,Disney included as this <br>is at 52 week low.</span></p>
			</div>
		</div>

		<div class="row">
		  <div class="col-md-4 col-sm-8 col-xs-12">
          <img src="assets/images/345.png" class="img-responsive">
          <p class="text-4" style="margin-left:-20px;">Price When ETF Created&nbsp;:&nbsp;133.39%</p>
          <p class="text-4" style="margin-left:-20px;">Current Price&nbsp;:&nbsp;121</p>
          <p class="text-4" style="margin-left:-20px;">Since Created&nbsp;:&nbsp;80% down</p>
        </div>

         <div class="col-md-8 col-sm-8 col-xs-12">
          <table style="border:1px; width:70%;"><thead>
          <tr class="para-text-2" style="line-height:20px;"><th class="">Ticker</th><th style="">CurrPrice</th>
           <th style="">52Wklow</th>
           <th style="">52WkHigh</th> 
           <th style="">Divdend</th></tr></thead>
           <tbody>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">MU</td> <td style="">315.41</td>
              <td style="">302.90</td> <td style="">610.67</td> 
              <td style="">0</td>
            </tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">CRM</td> <td style="">141.68</td>
              <td style="">612.5</td> 
              <td style="">314.90</td> <td style="">0.1</td></tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">MFST</td> <td style="">506.90</td> 
              <td style="">893.0</td> 
              <td style="">221.70</td>
              <td style="">1.12</td></tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">APL</td>
             <td style="">617.90</td> <td style="">216.20</td> 
             <td style="">345.89</td>
             <td style="">1.17</td></tr>

            <tr class="para-text-3"><td style="color:#5976C8;font-weight:bold;line-height:25px;">DIS</td> <td style="">452.89</td>
              <td style="">122.56</td> 
              <td style="">552.80</td> 
              <td style="">2.18</td></tr></tbody>
              
          </table><br>
          <button class="btn btn-default pull-right" href="" style="border-radius:15px;
  margin-right:260px;">-View More</button><br><br><br>
           
           <div class="row">
           	<div class="col-md-4 col-sm-6 col-xs-12" style="margin-top:10px;">
           		<table>
           			<tr ><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;font-family:'Tahoma', sans-serif;">Large Cap<span>&nbsp;:&nbsp;</span></td>
                  <td>80%</td></tr>
           			<tr class=""><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;">Mid Cap<span>&nbsp;:&nbsp;</span></td>
                 <td>20%</td></tr>
           			<tr class=""><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;">Small Cap<span>&nbsp;:&nbsp;</span></td>
                <td>0%</td></tr>
           			<tr class=""><td style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;">Penny Stocks<span>&nbsp;:&nbsp;</span></td>
                <td>0%</td></tr>
           		</table>
           	</div>
           	<div class="col-md-4 col-sm-6 col-xs-12">
           		<table>
           			<thead>
           				<tr><th style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;">Sector</th>
                     <th style="color:#5976C8;font-weight:bold;font-family:'Tahoma', sans-serif;">Percentage</th></tr>
           				<tr><td style="color:#000000;font-family:'Tahoma', sans-serif;">Technology</td>
                    <td style="color:#000000;text-align:center;font-family:'Tahoma', sans-serif;">60%</td></tr>
           				<tr><td style="color:#000000;font-family:'Tahoma', sans-serif;">Entertainment</td>
                    <td style="color:#000000;text-align:center;">20%</td></tr>
           				<tr><td style="color:#000000;font-family:'Tahoma', sans-serif;">Devices</td>
                    <td style="color:#000000;text-align:center;">20%</td></tr>
           				<tr><td style="color:#000000;font-family:'Tahoma', sans-serif;">Retail</td>
                    <td style="color:#000000;text-align:center;">0%</td></tr>
           				<tr><td style="color:#000000;font-family:'Tahoma', sans-serif;">Healthcare</td>
                    <td style="color:#000000;text-align:center;">0%</td></tr>
           			</thead>
           		</table><br>
           		 <button class="btn btn-default pull-right" href="" style="border-radius:15px;
                     margin-right:10px;">-View More</button><br><br>
           	</div>
           </div>
			
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
			<p><a href="" style="text-decoration:none;color:#000000;"><img src="assets/images/up.jpg">&nbsp;
                  <span style="color:#000000;font-family:'Tahoma', sans-serif;">Recommend</span><br><span style="margin-left:25px;" class="badge">3451</span>
                  </a></p>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                  <a href="" style="text-decoration:none;"><img src="assets/images/down1.png">&nbsp;
                    <span style="color:#000000;font-family:'Tahoma', sans-serif;">Don't Recommend </span><br><span style="margin-left:25px;" class="badge">123</span>
                    </a>
                  </div>
                  <div class="col-md-1 col-sm-12 col-xs-12">

                    <a href="" style="text-decoration:none;"><img src="assets/images/45.jpg">
                      <span class="" style="color:#000000;font-family:'Tahoma', sans-serif;">Hold</span>
                    <br><span style="margin-left:25px;" class="badge">32</span></a>
                  </div>
             <div class="col-md-2 col-sm-12 col-xs-12">
                  <a href="" style="text-decoration:none;">
                    <img src="assets/images/chat1.png"><span style="color:#000000;font-family:'Tahoma', sans-serif;">Comment</span><br>
                    <span style="margin-left:25px;" class="badge">456</span>
                  </a>
                
              </div>
            </div><br>

                <p class="reply-1"><span style="margin-left:30px; font-weight:bold;font-family:'Tahoma', sans-serif;">Frank</span><br>
            <span style="margin-left:30px;font-family:'Tahoma', sans-serif;">04/21/2020 3:05 PM</span>
          </p><br>
          <p style="margin-left:30px;font-family:'Tahoma', sans-serif;">I suggest you to replace MU with another non tech stock as you already have NVDA,Microsoft,CRM in your portfolio which will over weign the tech portfolio</p><br>

          <div class="row" style="margin-left:20px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:20px;margin-top:-5px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:25px;margin-top:-5px;" class="badge">456</span>
          </p>
          </div>
          </div>

           <p class="reply-1"><span style="margin-left:30px; font-weight:bold;font-family:'Tahoma', sans-serif;">Mike</span><br>
            <span style="margin-left:30px;font-family:'Tahoma', sans-serif;">04/21/2020 3:09 PM</span>
          </p><br>

          <p style="margin-left:30px;font-family:'Tahoma', sans-serif;">I strongly recommend Microsoft,CRM,But given the circumstances,I don't know if I can recommend Disney because of corona Virus Situation</p><br>

          <div class="row" style="margin-left:20px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:20px;margin-top:-5px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:30px;margin-top:-5px;" class="badge">456</span>
          </p>
          </div>
          </div>

           <p class="reply-1"><span style="margin-left:30px; font-weight:bold;font-family:'Tahoma', sans-serif;">Frank</span><br>
            <span style="margin-left:30px;font-family:'Tahoma', sans-serif;">04/21/2020 3:05 PM</span>
          </p><br>

           <p style="margin-left:30px;font-family:'Tahoma', sans-serif;">I suggest you to replace MU with another non tech stock as you already have NVDA,Microsoft,CRM in your portfolio which will over weign the tech portfolio</p><br>

           <div class="row" style="margin-left:20px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:20px;margin-top:-5px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:30px;margin-top:-5px;" class="badge">456</span>
          </p>
          </div>
          </div>

          <p class="reply-1"><span style="margin-left:30px; font-weight:bold;font-family:'Tahoma', sans-serif;">Mike</span><br>
            <span style="margin-left:30px;font-family:'Tahoma', sans-serif;">04/21/2020 3:09 PM</span>
          </p><br>

          <p style="margin-left:30px;font-family:'Tahoma', sans-serif;">I strongly recommend Microsoft,CRM,But given the circumstances,I don't know if I can recommend Disney because of corona Virus Situation</p><br>

          <div class="row" style="margin-left:20px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:25px;margin-top:-5px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:35px;margin-top:-5px;" class="badge">456</span>
          </p>
          </div>
          </div>


          <p class="reply-1"><span style="margin-left:50px; font-weight:bold;font-family:'Tahoma', sans-serif;">Sam</span><br>
            <span style="margin-left:50px;font-family:'Tahoma', sans-serif;">04/21/2020 3:11 PM</span>
          </p><br>

         <p style="margin-left:55px;font-family:'Tahoma', sans-serif;">Mike I maintained the same portfolio you suggested and it never moved from last one year and I kind of pissed off with MU in this portfolio.</p>

         <div class="row" style="margin-left:40px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:25px;margin-top:-5px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:35px;margin-top:-5px;" class="badge">456</span>
          </p>
          </div>
          </div><br>
       
       <p class="reply-1"><span style="margin-left:30px; font-weight:bold;font-family:'Tahoma', sans-serif;">Frank</span><br>
            <span style="margin-left:30px;font-family:'Tahoma', sans-serif;">04/21/2020 3:05 PM</span>
          </p><br>

           <p style="margin-left:30px;font-family:'Tahoma', sans-serif;">I suggest you to replace MU with another non tech stock as you already have NVDA,Microsoft,CRM in your portfolio which will over weign the tech portfolio</p><br>

           <div class="row" style="margin-left:20px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:25px;margin-top:-5px;" class="badge">32</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:35px;margin-top:-5px;" class="badge">456</span>
          </p>
          </div>
          </div>
       

		</div>
	</div>
	
