<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	
	<nav class="navbar navbar-default" style="border:none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Stock Jabber</a>
    </div>

<div class="collapse navbar-collapse" id="myNavbar">
   
    <ul class="nav navbar-nav nav-1">
      <li><a href="" class="nav-items">DOW 23,644,64</a></li>
      <li><a href="#" class="nav-items">S&P500 2,848.42</a></li>
      <li><a href="#" class="">NASDAQ 8,854.39</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right social" style="margin-right:20px;">
      <li style="margin-right:90px; margin-top:8px;" class=""><p>
        <a href="#" class="fa fa-facebook" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-twitter" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-google" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-linkedin" style="margin-right:-10px;"></a>
      </p></li>
      <li class=""><a href="#" class="nav-item nav-item1">Stocks</a></li>
      <li class=""><a href="#" class="nav-item nav-item1">Groups</a></li>
      <li class=""><a href="javascript:void(0)" class="nav-item">Profile</a>
      </li>

      
      
    </ul>
  </div>
</div>
</nav>

<nav class="navbar navbar-default nav-sec">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
</div>

<div class="collapse navbar-collapse" id="myNavbar1">
    <ul class="nav navbar-nav nav-t2">
      <li><a href="" class="nav-item">Buy/Sell</a></li>
     
      <li><a href="#" class="nav-item nav-t">IPO Analysis</a></li>
      <li><a href="#" class="nav-item nav-t">Opinion</a></li>
      <li><a href="#" class="nav-item nav-t">Videos</a></li>
      <li><a href="#" class="nav-item nav-t">Best Practice</a></li>
      <li><a href="#" class="nav-item nav-t">About Us</a></li>
      
    </ul>

   <form class="navbar-form navbar-left" style="margin-left:260px;">
      <div class="form-group in-fr">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      
    </form>
</div>
</div>
</nav>

<!--Etf Portfolio creation -->

<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<h4 class="title-1">Create Your Custom ETF Portfolio</h4>
			<p class="title-02">This is a feature to create your desired ETF Portfolio of stocks and getting other users opinion,which will help you to delete,add certain stocks from your ETF portfolio,in order to construct a desired portfolio based on your needs and be confident about your financial health.</p>
			<h5 class="title-01">How it works</h5>
			<p class="title-02">1.Give your portfolio Name</p>
			<p class="title-02">2.Define purpose such as High yields for Retirement,Long term 10 years,5 years,2 years short term or dividends</p>
			<p class="title-02">3.Add stocks to your portfolio by typing stock names or Ticker,against each stock add optional note why you choose this stock</p>
			<p class="title-02">4.Preview the post before you submit to see,how it look like when you post for user opinion.Your defined ETF will give value based on current stock prices,which will be useful for tracking its performance.</p>
			<p class="title-02">5.Post to public or your specific group for getting opinion.</p>

			<form>
				<div class="form-group" style="margin-left:72px;">
        <span class="title">Portfolio ETF Name: </span>&nbsp;
        <input type="text" name="" placeholder="Give Your Portfolio Name" class="input-1">

      </div>

      <div class="form-group" style="margin-left:145px;">
      	<span class="title">Purpose : </span>&nbsp;
      	<select name="">
      		<option value="">Choose from dropdown</option>
      		<option value="Retirement Portfolio">Retirement Portfolio</option>
      		<option value="Long Term 10 years">Long Term 10 years</option>
      		<option value="Long Term 5 years">Long Term 5 years</option>
      		<option value="Long Term 3 years">Long Term 3 years</option>
      		<option value="2 years">2 years</option>
      		<option value="1 year">1 year</option>
      		<option value="Short term">Short term</option>
      		<option value="Dividend">Dividend</option>
      		<option value="Others">Others</option>
      	</select>
      </div>

      <p style="margin-left:0px;">
        <span class="title" style="margin-top:-20px;">Reason for Choosing this ETF : </span>&nbsp;
        <input type="text" name="" placeholder="Write Detailed Summary of your Question" class="input-2" cols="5" rows="4">
          
      </p>

      <div style="margin-top:20px;">
<p><span style="margin-left:120px;"><button type="submit" class="btn btn-default">Preview</button></span> 
  <span style="margin-left:350px;"><button type="submit" class="btn btn-default">Submit</button></span></p>
</div>

			</form>
      <!--form section end--------->

      <!---Rated section start---->

      <h4 class="rate-01">Top Rated ETFs : </h4>
      <p class="rate-02">1.ETF created by Adam : MU,CRM,ADB,DI....</p>
      <p class="rate-02">2.ETF Created by Nandy : J&J,T,ATT....</p>
      <p class="rate-02">3.ETF Created by Sheryl:TSLA,AMD,MFST,APL....</p>
      <p class="rate-02">4.ETF Created by Ram : AXSM,LMT,APH....</p>
      <P class="rate-02">5.ETF Created by Steve:NOW,TSLA,MFSFT....</P>
	</div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <img src="assets/images/ure.JPG" class="img-responsive">
  </div>
</div>
</div>


</body>