<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
 
</head>

<body>

<nav class="navbar navbar-default" style="border:none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Stock Jabber</a>
    </div>

<div class="collapse navbar-collapse" id="myNavbar">
   
    <ul class="nav navbar-nav nav-1">
      <li><a href="" class="nav-items">DOW 23,644,64</a></li>
      <li><a href="#" class="nav-items">S&P500 2,848.42</a></li>
      <li><a href="#" class="">NASDAQ 8,854.39</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right social" style="margin-right:20px;">
      <li style="margin-right:80px; margin-top:8px;" class=""><p>
        <a href="#" class="fa fa-facebook" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-twitter" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-google" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-linkedin" style="margin-right:-10px;"></a>
      </p></li>
      <li class=""><a href="#" class="nav-item nav-item1">About Us</a></li>
      <li class=""><a href="#" class="nav-item nav-item1">Groups</a></li>
      <li class=""><a href="javascript:void(0)" class="nav-item">Profile</a>
      </li>

       <!--<li data-toggle="modal" data-target="#myModal1" class=""><a href="javascript:void(0)" class="nav-item">SignIn</a>
      </li>-->
      
    </ul>
  </div>
</div>
</nav>

<nav class="navbar navbar-default nav-sec">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
</div>

<div class="collapse navbar-collapse" id="myNavbar1">
    <ul class="nav navbar-nav nav-t2">
      <li><a href="" class="nav-item">Buy/Sell</a></li>
      <li><a href="#" class="nav-item nav-t">Earnings</a></li>
      <li><a href="#" class="nav-item  nav-t">IPO Analysis</a></li>
      <li><a href="#" class="nav-item  nav-t">Opinion</a></li>
      <li><a href="#" class="nav-item  nav-t">Videos</a></li>
      <li><a href="#" class="nav-item  nav-t">Best Practice</a></li>
    </ul>

   <form class="navbar-form navbar-left" style="margin-left:260px;">
      <div class="form-group in-fr">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      
    </form>
</div>
</div>
</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h3 class="orgin-h4">Origination,Myths and Truths of Corona Virus.What China is not  Revealing</h3>

				<p class="orgin">Posted by Anand Krishna 24th April 2020 2:34 PM EDT</p>
				<h4 class="orgin-h3">Key Words : China,Corona Virus,Wuhan,USA,Lockdown,Deathtroll</h4><br>
				<li class="orgin-1">Corona Virus started in Wuhan,but originally it started in China Eastern Village Shangun</li>
				<li class="orgin-1">Total Phonecalls disconnected in December 2019 is around 650,000 which lead to suspision about death count,as China <br><span style="margin-left:20px;">80% residents rely on Mobile phone for day to day operations.</span></li>
				<li class="orgin-1">The Travel itenatry shows these are the stats of people who travelled from Wuhan,China to other countires.Surprisingly <br><span style="margin-left:22px;"> this stats is not matching the travel history before origination of corona virus.</span></li><br>
				<img src="assets/images/vac.jpg" class="img-responsive" style="height:430px;width:900px;"><br>

				<p class="orgin">Pressed to reveal steps that would lift the lockdown in place across the U.K.,the country's stand-in leader stressed that the government <br>should not rush to ease restrictions for fear of second wave of coronavirus infections that could trigger a second lockdown.</p><br>

				<p class="orgin">"We are at a delicate and dangerous stage and we need to make sure that the next steps are sure-footed,"Foregin minister Dominic Raab,<br>who is deputizing for Prime Minister Boris Johnson,told Sky news in an interview Sunday.</p><br>

				<p class="orgin">It's not responsible to start speculating about the indiviual measures,"he said,adding that officials are "doing the homework"for a strategy<br> and urging the public to stick to stay-at-home guidelines.He also said that Johnson would resume his duties are prime minister Monday,<br>and that he was "raring" to get back to work</p><br>

				<p class="orgin">Singapore's Health ministry on Sunday reported an additional 931 coronavirus cases overnight,taking its total to 13,264
				The Ministry said <br> that the vast majority of cases are migrant workers living in dormitories.The case number was an increase from that of Saturday,which <br> was 618.</p><br>
				<p class="orgin">Singapore now has one of the highest infection rates in Asia,thanks in large part to its high migrant worker population of around 3,00,000  <br>living in densely crowded dormitories.</p><br>

				<H4 class ="origin-5">Takeaways : </H4>
				<li class="orgin">Majority of analysts suggest to invest 50% of cash into equities in this untimed market</li><br>
				<li class="orgin">Remaining 50% divide into two categories.25% to invest in standard funds and 25% to maintain cash. 25% cash to invest is in time of <br><span style="margin-left:20px;">complete market down.</span></li><br>
				<li class="orgin">If corona virus extend another one year which is a worst case, no one talking about.you loose 50% of your money upto 20% and when <br><span style="margin-left:20px;">you invest remaining 25% into market during that time,when market up in next three years you get 40% returns for your 25%,which will</span><br><span style="margin-left:20px;">put in profit during worsen times.</span></li><br>

				<div class="form-group">
					<textarea cols="6" rows="4" placeholder="Post your Comments" style="width:750px;background-color:#ffe6ff;margin-left:20px;">
						
					</textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default" style="width:100px;background-color:#d9d9d9;color:#000000;font-weight:bold;margin-left:650px;">Submit</button>
				</div><br>

				<p><span class="sub-row1"style="font-weight:bold;">Madison G</span><br>
                        <span class="sub-row1">24th&nbsp;April&nbsp;2020&nbsp;4:05 PM EDT</span>
                      </p><br>
                      <p style="font-size:13px; margin-left:10px;" class="sub-row1">I agree majority part of your article,but I dont agree the final part of keeping 50% in equities.It should have been great if you suggest what part of equities <br>matter during post corona virus crash </p>

                      <p  class="sub-row1" style="margin-left:10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i>&nbsp;<span>HelpFul</span> &nbsp; &nbsp; &nbsp; 
                      <span><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p><br>


                      <p><span class="sub-row1"style="font-weight:bold;">Rogers Steve</span><br>
                        <span class="sub-row1">24th&nbsp;April&nbsp;2020&nbsp;4:05 PM EDT</span>
                      </p><br>
                      <p style="font-size:13px; margin-left:10px;" class="sub-row1">I agree majority part of your article,but I dont agree the final part of keeping 50% in equities.It should have been great if you suggest what part of equities <br>matter during post corona virus crash </p>

                      <p  class="sub-row1" style="margin-left:10px;"><i class="fa fa-thumbs-o-up" style="font-size:18px;"></i>&nbsp;<span>HelpFul</span> &nbsp; &nbsp; &nbsp; 
                      <span><img src="assets/images/chat1.png"></span>&nbsp;<span>Comment</span></p>
               
				
			</div>
		</div>
	</div>
</body>