<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 
</head>
<body>

  <nav class="navbar navbar-default" style="border:none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./header">Stock Jabber</a>
    </div>

<div class="collapse navbar-collapse" id="myNavbar">
   
    <ul class="nav navbar-nav nav-1">
      <li><a href="" class="nav-items">DOW 23,644,64</a></li>
      <li><a href="#" class="nav-items">S&P500 2,848.42</a></li>
      <li><a href="#" class="">NASDAQ 8,854.39</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right social" style="margin-right:20px;">
      <li style="margin-right:80px; margin-top:8px;" class=""><p>
        <a href="#" class="fa fa-facebook" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-twitter" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-google" style="margin-right:-10px;"></a>
             <a href="#" class="fa fa-linkedin" style="margin-right:-10px;"></a>
      </p></li>
      <li class=""><a href="#" class="nav-item nav-item1">About Us</a></li>
      <li class=""><a href="#" class="nav-item nav-item1">Groups</a></li>
      <li class=""><a href="javascript:void(0)" class="nav-item">Profile</a>
      </li>

       <!--<li data-toggle="modal" data-target="#myModal1" class=""><a href="javascript:void(0)" class="nav-item">SignIn</a>
      </li>-->
      
    </ul>
  </div>
</div>
</nav>

<nav class="navbar navbar-default nav-sec">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
</div>

<div class="collapse navbar-collapse" id="myNavbar1">
    <ul class="nav navbar-nav nav-2">
      <li><a href="" class="nav-item">Buy/Sell</a></li>
      <li><a href="#" class="nav-item nav-t">Earnings</a></li>
      <li><a href="#" class="nav-item nav-t">IPO Analysis</a></li>
      <li><a href="#" class="nav-item nav-t">Opinion</a></li>
      <li><a href="#" class="nav-item nav-t">Videos</a></li>
      <li><a href="#" class="nav-item nav-t">Best Practice</a></li>
    </ul>

   <form class="navbar-form navbar-left" style="margin-left:260px;">
      <div class="form-group in-fr">
        <input type="Search" class="form-control" placeholder="Search">
      </div>
      
    </form>
</div>
</div>
</nav>
  <div class="container">
    <div class="row-text-center">
      <!--<div class="col-md-1 col-sm-1 col-xs-12"></div>-->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 style="font-weight:bold;font-family:'Tahoma', sans-serif;">Bill Gates stepping down from Microsoft board.</h3>
        <p>Samrat,21st April 2020 4:05 PM</p><br>
        <P class="reply"><span style="font-weight:bold;">Key Words &nbsp;:&nbsp;</span><span class="reply-1">Bill Gates Foundation,Satya Nadella</span></P>
        <P class="reply"><span style="font-weight:bold;">Summary &nbsp;:&nbsp;</span><span class="reply-1">Microsoft co-founder and EX-CEO Bill Gates leaving MicroSoft Board to spend his fultime on Gates Foundation along with his wife.<br>How does it impact Microsoft future with Satya Nadella be the sole face of Microsoft. </span></P>
        <div class="row" style="margin-left:10px;">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;&nbsp;<span>Reply Your Answer</span>
            <br>
            <span style="margin-left:40px;" class="badge">123</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;&nbsp;&nbsp;<span>Agree</span>
            <br>
            <span style="margin-left:30px;" class="badge">235</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/down1.png" style="margin-top:8px;"></span>&nbsp;&nbsp;<span>Disagree</span>
            <br>
            <span style="margin-left:30px;" class="badge">15</span>
          </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12"></div>
        </div><br>

        <p class="reply-1"><span style="margin-left:30px; font-weight:bold;">Mary Evers</span><br>
            <span style="margin-left:30px;">21st April 2020 4:20 PM</span>
          </p><br>
          <p class="reply-1">When Steve Jobs left Apple,everyone felt that the great visinary left Apple and that is the end of Apple creativity,but Cook proved that wrong.<br>I believe similar case,Satya Nadela has all elements to take company further on his shoulders.You can see evidently the stock price increase in the<br> last few  years.</p>
          <div class="row" style="margin-left:10px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;&nbsp;&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:30px;" class="badge">15</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:35px;" class="badge">456</span>
          </p>
          </div>
          </div>

          <p class="reply-1"><span style="margin-left:30px; font-weight:bold;">Ryan Gart</span><br>
            <span style="margin-left:30px;">21st April 2020 4:34 PM</span>
          </p><br>
          <p class="reply-1">I agree with Mary,but at the same time I don't disagree the other fact about Satya Nadella.There will be huge 
            competition in the coming days <br>from many startups,that will drive the stock price.</p>
          
           <div class="row" style="margin-left:10px;">
            <div class="col-md-2 col-sm-6 col-xs-12">
           <p class="reply-1"><span><img src="assets/images/up.jpg" style="margin-top:8px;"></span>&nbsp;&nbsp;&nbsp;<span>Like</span>
            <br>
            <span style="margin-left:30px;" class="badge">15</span>
          </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <p class="reply-1"><span><img src="assets/images/cht.png" style="margin-top:8px;"></span>&nbsp;&nbsp;<span>Comment</span>
            <br>
            <span style="margin-left:35px;" class="badge">456</span>
          </p>
          </div>
          </div>
      
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12"></div>
    </div>
  </div>
</body>
</html>