<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
 
</head>

<body>
	<div class="container-fluid" style="margin-top:18px;">
		<div class="row">
			<div class="col-md-1 col-sm-12 col-xs-12"></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<p><a href="./header" class="navbar-brand">StockJabber</a></p><br><br>
				<p class="profile-header">This is a social networking website to create custom ETFs,Stock/Option purchase and get recommendations.Also you can post Financial Question,Topic to discuss on this forum.Please signup to get knowledge on 
					investing and have fun.</p>
			</div>
		</div>
      </div>

      <div class="container" style="margin-top:20px;">
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12"></div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="form-group">
	<button type="submit" class="btn btn-default" style="width:240px;"><a href="#" class="fa fa-google" style="margin-left:-35px;"></a>
		<span style="margin-left:10px;">Signin With Google</span></button>
				</div>

				<div class="form-group">
	<button type="submit" class="btn btn-default" style="width:240px;margin-top:5px;">
		<a href="#" class="fa fa-facebook" style="margin-left:-20px;"></a><span style="margin-left:10px;">Signin With Facebook</span>
	</button>
				</div>

				<div class="form-group">
	<button type="submit" class="btn btn-default" style="width:240px;margin-top:5px;">
		<a href="#" class="fa fa-twitter" style="margin-left:-35px;"></a><span style="margin-left:10px;">Signin With Twitter</span>
	</button>
				</div>
			</div>

			<div class="col-md-5 col-sm-12 col-xs-12">
				<h3 class="login">Login If Existing User</h3><br>
				<div class="form-group">
					<input type="text" name="email" placeholder="Enter Email Address" class="email">
				</div>
				<div class="form-group">
					<input type="text" name="email" placeholder="Enter Password" class="email">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-inverse">Login</button>
				</div>
			</div>
		</div>
		
	</div>

	<div class="container">
		
		<div class="row">
			<h3 class="signup">SignUp</h3><br>
			<div class="col-md-2 col-sm-12 col-xs-12"></div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="form-group">
				<input type="text" name="FirstName" placeholder="Enter FirstName" class="first-name" style="width:250px;font-size:15px;">
				</div><br>

				<div class="form-group">
			<input type="text" name="FirstName" placeholder="Enter email Address" class="first-name" style="width:250px;font-size:15px;">
				</div><br>

				
				<div class="form-group">
			<input type="text" name="FirstName" placeholder="Enter Password" class="first-name" style="width:250px;font-size:15px;">
				</div><br>

				
			</div>
			

			<div class="col-md-5 col-sm-12 col-xs-12" style="margin-left:20px;">
				<div class="form-group">
			<input type="text" name="LastName" placeholder="Enter LastName" class="first-name" style="width:250px;font-size:15px;
			font-weight: bold;">
				</div><br>
				<div class="form-group">
			<input type="text" name="FirstName" placeholder="Enter Phone Number" class="first-name" style="width:250px;font-size:15px;">
				</div><br>
				<div class="form-group">
		<input type="text" name="FirstName" placeholder="Confirm Password" class="first-name" style="width:250px;font-size:15px;">
				</div>

			</div>
		</div>
		<div class="row" style="margin-top:15px;">
			<div class="col-md-4 col-sm-12"></div>
			<div class="col-md-4 col-sm-12">
				<button type="submit" class="btn btn-default" style="width:250px;font-size:15px;">Next</button>
			</div>

		</div><br>
	</div>
</body>